<div class="jumbotron text-center home-view" >
<h1>Projects Tracker</h1>
<br>
<p>Manage your projects to achieve your goals</p>
<br>
<%= link_to 'My Projects', projects_path , class:"btn btn-dark"%>
</div>
