
<h1>Editing Project</h1>
<br>
<%= render 'form', project: @project %>
<br>
<div class="btn-group" role="group">
<%= link_to 'Show', @project , class:"btn btn-outline-dark btn-sm"%>
<%= link_to 'Back', projects_path , class:"btn btn-outline-dark btn-sm"%>
</div>
